# System files
.DS_Store
aspnet_client/
*.db
*.config

# IDE files
.vs/
.vscode/
.idea/

# Markdown notes :)
.notes.md

# Image source files
*.pdn
*.psd
*.ai
*.sai

# Svelte
/node_modules/
/public/build/
