# System files
.DS_Store
aspnet_client/
*.db
*.config

# IDE files
.vs/
.vscode/
.idea/
.env
.env.*
!.env.example

# Markdown notes :)
.notes.md

# Image source files
*.pdn
*.psd
*.ai
*.sai

# Svelte
/.svelte-kit/
/build/
/node_modules/
/package/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
